modules = ["web", "nodejs-20", "vue-node-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run preview -- --host 0.0.0.0"]

[[ports]]
localPort = 5173
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 80

[[ports]]
localPort = 5175
externalPort = 3001
